* text=auto eol=lf
*.ets text eol=lf
*.ts text eol=lf
*.mjs text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.md text eol=lf
*.json text eol=lf
*.json5 text eol=lf
*.svg text eol=lf
*.png binary
*.hap binary
*.zip binary
